.Title{
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    color: #212ea0;
    font-weight: 600;
    margin: 70px 0 30px;
}
.Title h2{
    font-size: 32px;
    margin-top: 5px;
    text-transform: none;
    color: #000f38;
}