.programs{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px auto ;
}
.program img{
    width: 100%;
    border-radius: 10%;
    display: block;
}
.program{
    flex-basis: 31%;
    position: relative;
}
.caption{
    position: absolute;
    border-radius: 10%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 15, 152, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    opacity: 0;
    transition: .4s;
    padding-top: 70%;
}
.caption img{
    margin-bottom: 10px;
    width: 60px;
}
.program:hover .caption{
    opacity: 1;
    padding-top: 0;
}